<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item mt-2 p-4 rounded"
      *ngFor="let recipe of recipes"
    >
      <div class="row">
        <div class="col-5">
          <h2 class="list-group-item-heading">{{ recipe.name }}</h2>
          <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <span class="col-7">
          <img
            [src]="recipe.imagePath"
            style="max-height: 100px;"
            class="img-responsive"
          />
        </span>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
